affine==2.4.0
altair==5.5.0
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.9.0
anywidget==0.9.18
asttokens==3.0.0
attrs==25.3.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
bqplot==0.12.45
branca==0.8.1
cachelib==0.13.0
cachetools==5.5.2
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
color-operations==0.2.0
colour==0.1.5
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
docstring_parser==0.16
duckdb==1.3.0
et_xmlfile==2.0.0
executing==2.2.0
filelock==3.18.0
Flask==3.1.1
Flask-Caching==2.3.1
flask-cors==6.0.0
flask-restx==1.3.0
folium==0.19.6
fonttools==4.58.0
gdown==5.2.0
geographiclib==2.0
geojson==3.2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
h11==0.16.0
h5netcdf==1.6.1
h5py==3.13.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib_resources==6.5.2
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.11.2
ipyvuetify==1.11.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
leafmap==0.46.7
localtileserver==0.10.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
morecantile==6.2.0
narwhals==1.36.0
numexpr==2.10.2
numpy==2.2.5
openpyxl==3.1.5
opera-utils==0.21.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pgeocode==0.5.0
pillow==11.2.1
platformdirs==4.3.8
plotly==6.0.1
pooch==1.8.2
prompt_toolkit==3.0.51
protobuf==5.29.4
psutil==7.0.0
psygnal==0.13.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pydantic==2.11.5
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.19.1
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pyshp==2.3.1
PySocks==1.7.1
pystac==1.13.0
pystac-client==0.8.6
python-box==7.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
rasterio==1.4.3
referencing==0.36.2
reportlab==4.4.1
requests==2.32.3
rich==14.0.0
rio-cogeo==5.4.1
rio-tiler==7.7.3.post1
rioxarray==0.19.0
rpds-py==0.24.0
scooby==0.10.1
server-thread==0.3.0
shapely==2.1.1
shtab==1.7.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
stack-data==0.6.3
streamlit==1.44.1
streamlit_folium==0.25.0
tenacity==9.1.2
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
typeguard==4.4.2
typing-inspection==0.4.1
typing_extensions==4.13.2
tyro==0.9.22
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
wcwidth==0.2.13
Werkzeug==3.1.3
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.14
xarray==2025.4.0
XlsxWriter==3.2.3
xyzservices==2025.4.0
psycopg2-binary==2.9.7
sqlalchemy==2.0.43
python-dotenv==1.0.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.88.0
stripe==7.7.0
watchdog
statsmodels>=0.13.0
